<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             version="3.0">

    <persistence-unit name="myshopPU">

        <class>com.my_shop.myShop.Persona</class>
        <class>com.my_shop.myShop.InfoFiscal</class>
        <class>com.my_shop.myShop.Articulo</class>
        <class>com.my_shop.myShop.Compra</class>
        <class>com.my_shop.myShop.LineaCompra</class>

        <properties>

            <!-- CONEXIÓN DOCKER -->
            <property name="jakarta.persistence.jdbc.url"
                      value="jdbc:mariadb://localhost:3307/my_eshop"/>

            <property name="jakarta.persistence.jdbc.user" value="root"/>
            <property name="jakarta.persistence.jdbc.password" value=""/>
            <property name="jakarta.persistence.jdbc.driver" value="org.mariadb.jdbc.Driver"/>

            <!-- que cree tablas -->
            <property name="hibernate.hbm2ddl.auto" value="update"/>

            <property name="hibernate.dialect"
                      value="org.hibernate.dialect.MariaDBDialect"/>

            <property name="hibernate.show_sql" value="true"/>

        </properties>

    </persistence-unit>
</persistence>